div.download-image-btn {
    padding: 5px 1px 10px;
}

div.download-image-btn a {
    text-decoration: none;
}

.coblocks-gallery--item div.download-image-btn {
    line-height: 170%;
    top: -12px;
    position: relative;
}

.download-all-images-btn {
    width: 100%;
    text-align: right;
    margin: 10px 0 50px !important;
}

.download-all-images-btn a {
    background: #111111;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
}
